fieldset{
    border-color: blue;
    background-color: chartreuse;
}
legend {
    color: blueviolet;
    
}
h2{
    color: darkmagenta;
    width: fit-content;

}
h1{
    color: lavenderblush;
}
body{
    background-color: darkturquoise;
}
table{
    border-width: 0cm;
    border-color: brown;
}